body{
    display: flex;
    flex-direction: column;
    text-align: center; 
    background-color: lightsteelblue;
    border: 5px;
    padding: 0;
    align-items: center;
}


.row{
    display: flex;
    height: 450px;
    width: 450px;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: wrap;
    text-decoration: wavy;
    font-family: rockwell;
    color: red;
    text-align: center;
    font-size: 100px;
}

img{
    height: 100px;
    margin: 3px;
    width: 100px;
    display: inline-block;
}

.title{
    margin: 0;
    width: 100%;
    padding: 0;
}

h1{
    font-size: 50px;
    color: rgb(16, 1, 1);
    padding: 0;
    font-family: 'Segoe UI';
}

h2{
    font-family: 'Segoe UI';
    margin-left: 5px;
}
.work{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0;
    border: solid 5px rgb(22, 7, 115);
    background-color:gold;
    min-height: 250px;
}

.paper{
    padding: 0;
    margin: 0;
    height: 200px;
    width: 20%;
    display: inline-block;
    text-align: center;
    background-image:url(https://media.istockphoto.com/photos/textured-paper-thin-blue-lined-paper-picture-id909578008?b=1&k=20&m=909578008&s=170667a&w=0&h=XpUN1sPONT7EbFtIHikHLWMaiEznq356IV24EO4uQSw=);
}


button{
    margin: 5px;
    height: 50px;
    width: 100px;
    font-family:'Trebuchet MS';
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
}

button:hover{
    background-color: brown;
}

#bao{
    display: none;
}

#boxer{
    display: none;
}

#cactus{
    display: none;
}

#dog{
    display: none;
}

#gaming{
    display: none;
}

#Lebron{
    display: none;
}

#pikachu{
    display: none;
}

#Spidey{
    display: none;
}
